<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'auth/style.css' %}">
</head>
<body>

<div class="container">
    <form id="signupForm" class="form">
        <h2>Sign Up</h2>

        <input type="text" id="username" placeholder="Username" required>
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="password" placeholder="Password" required>
        <input type="password" id="confirmPassword" placeholder="Confirm Password" required>

        <button type="submit">Register</button>

        <p id="message"></p>
    </form>
</div>

<script src="{% static 'signup.js' %}"></script>

</body>
</html>